<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        <a href="mailto:balajichandupatla1@gmail.com">balajichandupatla1@gmail.com</a>
        
        <cutom-email my-email="https://github.com/balajic19"></cutom-email>
    </div>
</footer>